.steph {
  font-family: 'Homemade Apple', cursive;
}

.titulos{
  font-family: 'Kite One', sans-serif;
}

.textos {
  font-family: 'Athiti', sans-serif;
}

.texto-azul {
  color: #20374F;
}

.texto-blanco {
  /*color: #E8AC5D;*/
  color: white;;
}

.background-amarillo {
  background-color: #E8AC5D;
  /*background-color: white;*/
}

.background-azul {
background-color: #20374F;
}

.espacio {
  margin-bottom:5%;
}

.margin-bottom{
  margin-bottom: 3%;
}

.bold{
  font-weight: bold;
}

.parallax-container {
  height: 80vh;
  margin: 0;
}

.proyecto {
  width: 100%;
}

.redes {
   margin-top: 12%;
}

.redes:hover {
  /*color: #E8AC5D;*/
  color: white;
}

.hover:hover{
  color: rgba(53, 108, 158,0.95);
}

.texto-parrafos {
  font-size: 1.5em;
}

div.row.titulos {
  margin: 0;
}

footer {
  padding-top: 1%;
}

#sobreMi {
  background: -webkit-linear-gradient(-90deg, #20374F 5%, #356C9E 100%);
  padding-bottom: 15vh;
}

#habilidades {
  background: -webkit-linear-gradient(-90deg, #356C9E 10%, #E7EDF4  100%);
  padding-bottom: 8vh;
}

#proyectos {
  background: -webkit-linear-gradient(-90deg, #E7EDF4 10%, #fff 100%);
  padding-bottom: 8vh;
}

#contacto {
  color: #20374F;
  background: -webkit-linear-gradient(-90deg, #fff 10%, #356C9E 100%);
}
